.table{
  background-color: black;
  color: #edc472;
}
.card{
  background-color: black;
  border: 2px solid #edc472;
  margin: 2rem;
  display: flex;
  justify-content: center;
}

h4{
  color: #edc472;
}

hr{
  color: #edc472;
  width: 15px;
}

.btn{
  background-color: black;
  border: #edc472 1px solid;
  margin: .5rem;
}

.add{
  text-align: center;
}

p{
  color: #edc472;
}

.row{
  justify-content: center;
}
